// http://www.color-blindness.com/color-name-hue/
// http://chir.ag/projects/name-that-color

// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss

$color-white: #FFF;
$color-black: #000;

// Primary Colors
$color-stevens-red: #A32638;

// Secondary Colors
$color-gold: #EBC73B;
$color-light-gold: #FFFAE6;
$color-dark-blue: #004380;
$color-medium-blue: #4896CF;
$color-light-blue: #E7F2FB;
$color-white-smoke: #F2F2F2;

// Neutrals
$color-dark-gray: #363D45;
$color-stevens-gray: #7F7F7F;
$color-light-gray: #E4E5E6;

// Interface
$color-venetian-red: #D50032;
